html {
    font-family: monospace;
}
input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid black;
}

.hidden {
    display: none;
}
.workouts{
    width: 5em;
    height: 20em;
    border: 1px solid cyan;
}
#next{

}
